body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links ul {
  list-style-type: none;
}

.header-links li {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-main p {
  font-size: 18px;
  color: #E5E7EB;
}