body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button {
  color: #F9FAF8;
  font-size: 18px;
  background-color: #3882F6;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 16px;
  align-self: flex-start;
}

.hero {
  background-color: #1F2937;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 100px 50px 100px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header-links a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.hero-main h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-main p {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 0 400px;
  justify-content: flex-start;
}

.hero-right {
  display: flex;
  flex-direction: column;
  background-color: gray;
  flex: 1 0 400px;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.information {
  color: #1F2937;
  background-color: #F9FAF8;
  display: flex;
  flex-direction: column;
  padding: 0 100px 50px 100px;
  min-width: 100vh;
}

.information h2 {
  font-weight: 900;
  font-size: 36px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 20px 0 20px 0;
}

.info-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.pair {
  display: flex;
  flex-direction: column;
  flex: 0 0 150px;
  align-items: center;
  gap: 10px;
}

.illustration {
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.info-text {
  font-size: 18px;
  text-align: center;
  text-wrap: wrap;
}

.highlight {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  min-width: 100vh;
  padding: 50px 100px 50px 100px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  font-style: italic;
}

.attribution {
  font-size: 18px;
  text-align: right;
}