body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #1F2937;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 100px 50px 100px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header-links a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-main {
  display: flex;
  flex-direction: row;
}

.hero-main h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.hero-main p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left {
  display: flex;
  flex-direction: column;
}